{% extends 'home.html' %}
{% load static %}


{% block content %}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-4">
            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Please enter your email to get reset link</h4>
                </div>
                <form action="{% url 'request-password' %}" method="post">
                    {% csrf_token %}

                    {% include 'partials/_messages.html' %}
                    <p class="text-sm text-success usernameSuccessOutput"></p>
                    <div class="form-group">
                        <input 
                            type="email" 
                            name="email" 
                            id="emailField" 
                            placeholder="Email"
                            class="form-control form-control-sm mt-2"
                            value="{{values.email}}"
                            required
                        >
                    </div>
                    <div class="d-grid">
                        <input type="submit" value="submit" class="btn btn-block btn-primary mt-2 submit-btn">
                    </div>
                </form>
                <div class="container">
                    <span class="text-lead lead">Have an account?</span><a href="{% url 'login' %}">Register</a><br>
                    <span class="text-lead lead">Don't have an account?</span><a href="{% url 'register' %}">Reset it</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<script src="{% static 'js\register.js' %}"></script>

{% endblock content %}